pkgbase = dwmblocks-royarg-git
	pkgdesc = A modified version of the modular status bar for dwm written in C.
	pkgver = 1.0.f46922a
	pkgrel = 1
	url = https://github.com/RoyARG02/dwmblocks
	install = dwmblocks-royarg-git.install
	arch = x86_64
	license = ISC
	makedepends = git
	depends = sh
	depends = libx11
	optdepends = acpilight: for controlling display backlight
	optdepends = btop: system resource monitor
	optdepends = noto-fonts-emoji: for emoji support
	optdepends = pulsemixer: for volume control
	optdepends = ttf-joypixels: for emoji support
	optdepends = xorg-xbacklight: for controlling display backlight
	optdepends = xorg-xset: for controlling display sleep
	provides = dwmblocks
	conflicts = dwmblocks
	source = git+https://github.com/RoyARG02/dwmblocks.git
	source = https://raw.githubusercontent.com/RoyARG02/user_files/master/files/scripts/sb-battery
	source = https://raw.githubusercontent.com/RoyARG02/user_files/master/files/scripts/sb-clock
	source = https://raw.githubusercontent.com/RoyARG02/user_files/master/files/scripts/sb-memory
	source = https://raw.githubusercontent.com/RoyARG02/user_files/master/files/scripts/sb-nettraf
	source = https://raw.githubusercontent.com/RoyARG02/user_files/master/files/scripts/sb-pa-sink
	source = https://raw.githubusercontent.com/RoyARG02/user_files/master/files/scripts/sb-pa-source
	md5sums = SKIP
	md5sums = 93dd35a28c01d5c3321f5e840e8c83bb
	md5sums = 649278834432ad707cb9ce4df0a6b159
	md5sums = ed858e38ec51a983f1b9a9e53a0b51c3
	md5sums = 8aca79f031f40cbd4bcdabf6eacf0855
	md5sums = 9e43871322c76383d66bfe0b60930e86
	md5sums = 15d9d20528f6bdefc7ac83184079ec7e

pkgname = dwmblocks-royarg-git
